.App {
  text-align: center;
}

.headerBanner {
  text-align: center;
  background-color: rgb(20, 112, 175);
  color: #fff;
}

.headerComponent {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 95%;
}

.headerComponent h2 {
  width: 30%;
  align-items: left;
}

.contactList {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
}

.profileSection {
  display: flex;
  padding-top: calc(1vmax / 10);
  padding-bottom: calc(1vmax / 10);
  flex-direction: column;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile h3 {
  white-space: pre-wrap;
  font-size: 200%;
  width: 35%;
}

.profile img {
  height: 50%;
  width: 20%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 22px;
}

.introSection {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.introSection hr {
  width: 12%;
  margin: 0em 0em 0em 4em;
}

.introSection p {
  white-space: pre-wrap;
  width: 35%;
  font-size: 150%;
  text-align: justify;
}

.introSection h3 {
  margin: 0rem 4rem;
}

.footerSection {
  background-color: rgb(20, 112, 175);
  color: #fff;
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
  padding: 12px 0px;
  text-align: left;
  line-height: 30px;
}


@media only screen and (max-width: 768px) {

  .contactList {
    display: block !important;

  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile img {
    width: 95% !important;
  }

  .profile h3 {
    width: 100% !important;
  }

  .introSection {
    text-align: center;
    align-items: center !important;
    flex-direction: column;
  }

  .introSection hr {
    width: 100% !important;
    margin: 0em !important;
  }

  .introSection p {
    width: 97% !important;
    padding: 12px;
  }
}